:root{
    --color-white: #fff;
    --color-red: #e63e63;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #0d01be;
    --color-purple2: indigo;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: var(--color-dark2);
    padding: 32px;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-requeried{
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
}

.inputs:focus{
    border-color: var(--color-purple1);
}

.box-select{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
}